body {
    background: url("https://i.seadn.io/gae/7B0qai02OdHA8P_EOVK672qUliyjQdQDGNrACxs7WnTgZAkJa_wWURnIFKeOh5VTf8cfTqW3wQpozGedaC9mteKphEOtztls02RlWQ?auto=format&w=3840");
    background-position: cover;
    margin: 0;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-size: cover;
    text-align: center;
    background-color: slateblue;
    position: relative;
}
.btn {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    opacity: .8;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    text-decoration: none;
    color: black;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orange;
    width: 20px;
    height: 20px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.btn:hover::before{
    width: 50px;
    height: 50px;
    overflow: hidden;
}